@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }
}

@layer components {
  .signup::before {
    width: 10rem;
    height: 8rem;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translate(-90%, -90%);
    transition: all 0.3s ease-out;
    overflow: hidden;
    border-radius: 100%;
  }

  .signup:hover::before {
    transform: translate(-8%, -25%);
  }
  .scrollbar-light::-webkit-scrollbar {
    width: 0.8rem;
    display: none;
  }

  .scrollbar-light:hover::-webkit-scrollbar {
    display: block;
  }

  .scrollbar-light::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-light::-webkit-scrollbar-thumb {
    background-color: rgba(61, 61, 61, 0.39);
    border-radius: 10px;
    cursor: grab;
  }

  #searchExp::-webkit-search-cancel-button {
    display: none;
  }
}
